<%= form.url_field :url %>
<%= form.text_area :description %>
<% if form.object.url %>
<div class="form-group">
	<label class="control-label col-sm-2" for="">
	</label>
	<div class="col-sm-10">
		<video
			id="vid1"
			class="video-js vjs-default-skin vjs-big-play-centered"
			controls
			width="640" 
			data-setup='{ "fluid": true, "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "<%= form.object.url %>"}], "youtube": { "iv_load_policy": 1 } }'
		>
		</video>
	</div>
</div>
<% end %>

<%= form.form_group do %>
	<label class="checkbox-inline" for="">
		<%= form.check_box :is_published, :label => t('.is_published') %>
	</label>
	<label class="checkbox-inline" for="">
		<%= form.check_box :is_featured, :label => t('.is_featured') %>
	</label>
<% end %>

<%= form.form_group :class => 'form-actions' do %>
  <%= form.submit :class => 'btn btn-primary' %>
<% end %>

