.page-header
  = link_to 'New Event', new_comfy_admin_cms_site_event_path(@site), :class => 'btn btn-default pull-right'
  %h2= 'Events'

= paginate @events, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %tbody.sortable
    %tr
      %th Order
      %th.main Start
      %th Title
      %th
    - @events.each do |event|

      %tr{:id => dom_id(event)}
        %td
          .icon
            .dragger
              %span &#8645;

        %td.main= event.start
        %td= event.title
        %td
          .btn-group.btn-group-sm
            = link_to 'Edit', edit_comfy_admin_cms_site_event_path(@site, event), :class => 'btn btn-default'
            = link_to 'Delete', comfy_admin_cms_site_event_path(@site, event), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

= paginate @events, :theme => 'comfy'
