<%= form.url_field :title %>
<%= form.text_area :description %>

<%= form.form_group do %>
	<label class="checkbox-inline" for="">
		<%= form.check_box :is_published, :label => t('.is_published') %>
	</label>
	<label class="checkbox-inline" for="">
		<%= form.check_box :is_featured, :label => t('.is_featured') %>
	</label>
<% end %>

<%= form.form_group do %>
	<% if form.object %>
		<%= render 'image' %>
	<% end %>
<% end %>

<%= form.form_group :class => 'form-actions' do %>
  <%= form.submit :class => 'btn btn-primary' %>
<% end %>

<% content_for :javascript do %>
	<script>
		CMS.image_upload_endpoint_path = "<%= comfy_admin_cms_site_image_uploader_upload_endpoint_path(@site) %>"
	</script>
<% end %>
