<div class="row">
	<div class="col-md-12 sortable-grid" data-gallery-id="<%= @gallery.id %>" id="sortable_gallery">
		<% @gallery.images.no_trashed.each do |image| %>
			<div class="ma1 relative h5 w5 fl thumbnail cover" id="<%= dom_id(image) %>" data-id="<%= image.id %>" style="background:url(<%= image.file_url(:thumb) %>) no-repeat center;">
				<div class="absolute blue f3 top-1 left-1 pointer dragger">
					<span class="glyphicon glyphicon-move"></span>
				</div>
				<div class="f3 absolute bottom-1 right-1 trash-image" data-id="<%= image.id %>" >
					<a href="#">
						<i class="fa fa-trash red" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		<% end %>
	</div>
</div>
